/* Отключение выделения текста */
* {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

a {
  cursor: none;
  text-decoration: none;
}

/* Стили тела */
body {
  margin: 0;
  font-family: 'Orbitron', sans-serif;
  overflow-x: hidden;
  height: 100%;
  cursor: none; /* Скрыть стандартный курсор */
}

.hidden {
  display: none !important;
}



/* Стили кастомного курсора */
.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  background: radial-gradient(circle, rgba(91, 171, 241, 0.888), rgba(95, 235, 167, 0.999));
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  box-shadow: 0 0 32px rgba(77, 202, 255, 0.8), 0 0 16px 2px rgba(149, 149, 149, 0.69);
  animation: pulse 8s infinite, round 4s infinite alternate;
  transform: translate(-50%, -50%);
}

/* Анимации фона */
body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at 42% 42%, rgba(0, 0, 0, 0.341), rgba(22, 22, 22, 1)),
              radial-gradient(circle at 69% 69%, rgba(0, 255, 204, 0.66), transparent),
              radial-gradient(circle at center, rgb(0, 0, 0), transparent);
  z-index: -1;
  animation: energy-flow 4s infinite alternate;
}

/* Основной контейнер */
main {
  margin: 8vh 8vw;
}

/* Стили заголовка */
header {
  text-align: center;
  margin: 50px 0;
}

header h1 {
  display: inline-block;
  font-size: 42px;
  color: rgba(255, 255, 255, 0.915);
  text-shadow: 0px 0 12px rgba(38, 181, 186, 0.267);
}

/* Стили кнопки пополнения */
.top-up-btn {
  margin: -10px 10px;
  display: inline-block;
  background: url(telegram.png) no-repeat center;
  background-size: 120%;
  border: none;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  opacity: 0.8;
  cursor: none; /* Использовать кастомный курсор */
}

.top-up-btn:hover {
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.475);
}

/* Контейнер карточек с использованием Grid */
.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(370px, 1fr)); /* Гибкая сетка */
  gap: 42px; /* Отступ между карточками */
  padding: 20px;
}


/* Стили карточки */
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 24px;
  overflow: hidden;
  background: rgba(22, 8, 22, 0.9);
  box-shadow: 0 0 12px rgba(22, 22, 22, 0.01);
  transition: background 0.4s, transform 0.4s, box-shadow 0.4s;
  opacity: 1;
  mix-blend-mode: normal;

}
.card:not(.touchable) {
  background: none;
}

.touchable.card:hover {
  background-image: none;
  transform: translateY(-10px) rotateX(5deg);
  box-shadow: 0 0 40px rgba(0, 212, 255, 0.6);
  animation: little-ripple 4s linear infinite;
}

/* Анимации фона карточки */
.card::before {
  content: '';
  padding: 12px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: ripple 8s linear infinite;
  background: radial-gradient(circle, rgba(0, 0, 0, 0.242), rgb(0, 255, 222));
}

.hoverme {
  opacity: 0; /* Изначально скрыто */
  transform: translateY(10px);
  transition: opacity 0.4s ease, transform 0.4s ease;
}

/* Заголовок карточки */
.card h2 {
  margin: 10px;
  font-size: 1.8rem;
  text-align: center;
  color: #53defa;
}
.card h3 {
  margin: 8px;
  font-size: 1.5rem;
  text-align: center;
  color: #53defa;
  text-shadow: 0 0 10px #53defabb;
}

/* Описание карточки */
.card p {
  font-size: 12px;
  color: #eeee;
  text-align: center;
  margin: 10px 20px;
}

/* Показ описания при наведении */
.card:hover .hoverme {
  opacity: 1;
  transform: translateY(0);
}

/* Список элементов карточки */
.card ul {
  list-style: none;
  padding: 8px;
  margin: 20px;
  font-size: 1.5rem;
  color: #eeee;
  font-weight: 400;
  text-shadow: 0 0 12px 2px #321;
  opacity: 0; /* Изначально скрыто */
  transform: translateY(10px);
  transition: opacity 0.69s ease, transform 0.69s ease;
}

/* Показ списка при наведении */
.card:hover ul {
  opacity: 1;
  transform: translateY(0);
  animation: float 2s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite; /* Плавающая анимация */
}

/* Индивидуальный элемент списка */
.card li {
  margin: 10px 0;
}

/* Ссылка/кнопка карточки */
.card a {
  display: block;
  text-align: center;
  margin: 20px auto;
  padding: 10px 20px;
  background: linear-gradient(to right, #38ef7d, #11998e);
  border-radius: 20px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  width: 60%;
  font-size: 1.2rem;
  transition: transform 0.2s;
}

.card a:hover {
  transform: scale(1.1);
}

/* Фоновые изображения для карточек */
.bgim {
  background-size: 100% auto;
  background-position: 50%;
  background-repeat: no-repeat;
}

.ml {
  background-image: url("images/mobile-legends.png");
}

.genshin {
  background-image: url("images/genshin.webp");
}

.pubg {
  background-image: url("images/pubg.png");
}

.freefire {
  background-image: url("images/freefire.png");
}

.cod {
  background-image: url("images/cod.png");
}

.fortnite {
  background-image: url("images/fortnite.png");
}

.roblox {
  background-image: url("images/roblox.png");
}

/* Стили подвала */
footer {
  margin-top: auto;
  text-align: center;
  padding: 20px;
  color: #eeee;
  font-size: 0.9rem;
}

.lighten {
  background-color: #555a;
}